.title {
    text-align: center;
    font-size: 2em;
}

.dm_chat {
    margin: 5px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #0c0c0c;
}

.dm_chat p {
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #930a0c;
    padding: 5px;
}

.enemy_stat_block {
    border: 2px solid #0c0c0c;
    border-radius: 10px;
    margin: 5px;
}

.enemy_stat_block h2 {
    text-align: center;
}
.enemy_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
}

.enemy_name {
    grid-column: 1/4;
    text-align: center;
    border-bottom: 2px dashed #0c0c0c;
    padding: 5px;
}

.enemy_size, .enemy_type, .enemy_alignment, .enemy_armor_class, .enemy_health, .enemy_speed, .strength, .dexterity, .constitution, .intelligence, .wisdom, .charisma, .enemy_resistances, .enemy_damage_immunities, .enemy_condition_immunities, .enemy_senses, .enemy_languages, .enemy_challenge_rating, .enemy_proficiency, .enemy_xp {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #930a0c;
    margin: 5px;
}

.enemy_abilities {
    border-top: 2px dashed #0c0c0c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

.enemy_features {
    border-top: 2px dashed #0c0c0c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

.enemy_traits, .enemy_actions {
    border-top: 2px dashed #0c0c0c;
    padding: 5px;
}

.enemy_trait, .enemy_action {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #930a0c;
    margin: 5px;
}

.point_of_origin {
    text-align: center;
    border-top: 2px solid #0c0c0c;
    margin: 5px;
}

.point_of_origin table {
    margin: auto;
}

tr:nth-child(even) {
    background-color: #d5eeee;
}

table, th, td {
    border: 2px solid #930a0c;
    border-collapse: collapse;
}

.status_conditions {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.status_conditions h2 {
    grid-column: 1/4;
    margin: auto;
}

.status_conditions h3, .actions_in_combat h3 {
    text-align: center;
}

.blinded, .charmed, .deafened, .frightened, .grappled, .incapacitated, .invisible, .paralyzed, .petrified, .poisoned, .prone, .restrained, .stunned, .unconscious {
    border: 2px solid #930a0c;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.petrified {
    grid-column: 1/2;
    grid-row: 2/3;
}
.unconscious {
    grid-column: 2/3;
    grid-row: 2/3;
}

.paralyzed {
    grid-column: 3/4;
    grid-row: 2/3;
}

.grappled {
    grid-column: 1/2;
    grid-row: 3/4;
}

.invisible {
    grid-column: 2/3;
    grid-row: 3/4;
}

.prone {
    grid-column: 3/4;
    grid-row: 3/4;
}

.restrained {
    grid-column: 1/2;
    grid-row: 4/5;
}

.stunned {
    grid-column: 2/3;
    grid-row: 4/5;
}

.frightened {
    grid-column: 2/3;
    grid-row: 5/6;
}

.actions_in_combat {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.actions_in_combat h2 {
    text-align: center;
}

.your_turn {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #930a0c;
    margin: 5px;
    grid-column: 1/4;
}

.actions_title {
    grid-column: 1/4;
}

.attack, .cast_a_spell, .dash, .disengage, .dodge, .help, .hide, .ready, .search, .use_magic_item, .use_an_object, .use_special_ability {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #930a0c;
    margin: 5px;
}

.hide {
    grid-column: 2/3;
    grid-row: 4/5;
}
.search {
    grid-column: 3/4;
    grid-row: 4/5;
}

.jumps {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.long_jump p, .high_jump p {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #930a0c;
    margin: 5px;
}

.long_jump h2, .high_jump h2 {
    text-align: center;
}

.concentration {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
}

.concentration h2 {
    text-align: center;
}

.concentration p {
    margin: 10px;
}

.key_story {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.key_story h2 {
    grid-column: 1/3;
    text-align: center;
}

.character {
    border-left: 2px solid #0c0c0c;
    padding: 5px;
}

.npcs {
    border-top: 2px dotted #0c0c0c;
    grid-column: 1/3;
}

.npcs h3 {
    text-align: center;
}

.difficulty_class {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.difficulty_class h2 {
    text-align: center;
}

.difficulty_class table {
    margin: auto;
}

.tracking_difficulty {
    border-left: 2px dotted #0c0c0c;
}

.damage_level {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
}

.damage_level h2 {
    text-align: center;
}

.damage_level table {
    margin: auto;
}

.objects {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.objects h2 {
    text-align: center;
}

.objects table {
    margin: auto;
}

.object_health {
    border-left: 2px dotted #0c0c0c;
}

.skill_and_abilities {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.skill_and_abilities h2 {
    grid-column: 1/3;
    text-align: center;
}

.pricing {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.pricing h2 {
    grid-column: 1/3;
    text-align: center;
}

.services {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
}

.services h2 {
    text-align: center;
}

.services table {
    margin: auto;
}

.travel {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
}

.travel h2, .travel h3 {
    text-align: center;
}

.travel table {
    margin: auto;
}

.obscured {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
}

.obscured h2 {
    text-align: center;
}

.obscured table {
    margin: auto;
}

.encounter_distance {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.terrain {
    grid-column: 1/3;
}

.encounter_distance h2 {
    text-align: center;
    grid-column: 1/3;
}

.cover {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
}

.cover h2 {
    text-align: center;
}

.cover table {
    margin: auto;
}

.light {
    margin: 5px;
    border-top: 2px solid #0c0c0c;
}

.light h2 {
    text-align: center;
}

.light table {
    margin: auto;
}

@media screen and (min-width: 800px) {

    .dm_page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .title {
        grid-column: 1/3;
    }

    .dm_chat {
        grid-column: 2/3;
        grid-row: 2/3;
        border: none;
    }

    .dm_info {
        border-right: 2px solid #0c0c0c;
    }
}