body {
    background-color: #fef6f0;
    color: #930a0c;
}

header {
    background-color: #930a0c;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: space-around;
}

header h1 {
    color: #fef6f0;
    align-self: center;
    font-size: 3em;
}

.logo {
    border-radius:50%;
    max-width: 125px;
    max-height: 100%;
    padding: 5px;
}

.hidden {
    display: none;
}

button {
    background-color: #930a0c;
    border: none;
    grid-column: 1/3;
    margin: auto;
}

nav {
    grid-column: 1/3;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
}

nav a {
    color: #fef6f0;
    border-top: 1px solid #0c0c0c;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: #fef6f0;
    color: #930a0c;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: .4s;
}

.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}

#hero {
    position: relative;
}

#hero img {
    max-width: 100%;
    display: block;
    margin: auto;
    max-height: 700px;
}

#hero h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F7F7F2;
    font-size: 1.5em;
}

.about_us {
    text-align: center;
}

.about_us p {
    margin: 10px;
}

.AI_boxes {
    display: grid;
    grid-template-columns: 1fr;
}

.AI {
    border: 2px solid #0C0C0C;
    margin: 9%;
    text-align: center;
}

.AI img {
    width: 100%;
    max-width: 500px;
}

.AI p {
    margin: 10px;
}

.AI a {
    text-decoration: none;
    color: #930a0c;
}

.AI a:hover {
    background-color: #930a0c;
    color: #F7F7F2;
}

footer {
    background-color: #930a0c;
    color: #F7F7F2;
    display: flex;
}

footer img {
    height: 100px;
    border-radius: 50%;
    margin: 5px;
}

footer p {
    margin: 30px;
    align-self: end;
}

@media screen and (min-width: 800px) {
    .AI_boxes {
        grid-template-columns: 1fr 1fr;
    }

    .hidden {
        display:block;
    }

    header button {
        display: none;
    }

    nav a {
        border: none;
        font-size: 1.25em;
    }
}